{
  "type": "service_account",
  "project_id": "SEU_PROJECT_ID",
  "private_key_id": "SEU_KEY_ID",
  "private_key": "-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n",
  "client_email": "SEU_SA@SEU_PROJECT.iam.gserviceaccount.com",
  "client_id": "SEU_CLIENT_ID",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/SEU_SA%40SEU_PROJECT.iam.gserviceaccount.com"
}
