# Copie este arquivo para terraform.tfvars e preencha os valores
# cp terraform.tfvars.example terraform.tfvars

project_id   = "SEU_PROJECT_ID_AQUI"
region       = "us-central1"
cluster_name = "devops-challenge-cluster"
repo_name    = "devops-challenge"
