# Copie este arquivo para terraform.tfvars e preencha os valores
# cp terraform.tfvars.example terraform.tfvars

project_id   = "SEU_PROJECT_ID_AQUI"
region       = "us-central1"
zone         = "us-central1-a"
machine_type = "e2-medium"
repo_name    = "devops-challenge"
repo_url     = "https://github.com/wilsongomes345/to-brasil.git"
